:root {
--primary: #c5ffc3;
--second: rgb(0, 0, 0);
}
#title {
outline: 0;
border: 2px solid transparent;
margin: .5em;
padding: .5em;
color: var(--second);
background: var(--primary);
transition: 135ms ease-out;
cursor: pointer;
}
#title:hover {
border-color: var(--primary);
color: var(--second);
background: #fdc3ff;
}
#title {
margin: .5em;
padding: .5em;
outline: 0;
border: 0;
}
li{
  display: inherit;
}
#artist{
  font-style: italic;
}